body {
  background-color: var(--brand-color);
  color: var(--third-black-color);
  font-family: Roboto, Raleway, Arial, Verdana, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
:root {
  --brand-color: #ffffff;
  --second-white-color: #f5f5f5;
  --accent-color: #2196f3;
  --prime-black-color: #000000;
  --second-black-color: #212121;
  --third-black-color: #757575;
  --backgroun-footer-color: #2f303a;
  --active-color: #188ce8;
  --background-button-color: #f5f4fa;
  --mailto-ground-color: rgba(255, 255, 255, 0.6);
  --gray-border-color: #eeeeee;
  --header-line-color: #ececec;
}
li {
  list-style-type: none;
}
.container {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Header */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-header {
  color: var(--prime-black-color);
}
.accent {
  color: var(--accent-color);
}
.logo:focus,
.logo:active {
  color: var(--accent-color);
}
.nav {
  padding: 0;
  margin: 0 0 0 93px;
  display: flex;
}
.nav li:not(:last-of-type) {
  margin-right: 50px;
}
.advantages-item {
  margin: 0;
  padding: 0;
  display: flex;
}
.site-nav.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-black-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav.link.current {
  color: var(--accent-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.mailto-tel-header {
  color: var(--third-black-color);
  font-weight: 500;
  text-decoration: none;
}
.mailto-tel-header.link {
  letter-spacing: 0.02em;
}
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--header-line-color);
}
.mailito-tel-container {
  justify-content: flex-end;
}
.container-mt {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  display: block;
}
nav.container {
  display: flex;
  align-items: center;
  padding: 0;
}
/* Main */
.hero {
  background-color: var(--backgroun-footer-color);
  height: 600px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--brand-color);
  display: block;
  margin: 0 auto 0 auto;
  padding: 200px 237px 0 237px;
}
.hero-button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 30px auto 0;
  display: flex;
  text-align: center;
}
.portfolio-button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 34px;
}
.selection:hover,
.selection:focus {
  background-color: var(--active-color);
}
.selection:active {
  color: var(--brand-color);
  background-color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.filter {
  letter-spacing: 0.03em;
  color: var(--second-black-color);
  background-color: var(--background-button-color);
  cursor: pointer;
}
.link-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--second-black-color);
  background-color: var(--background-button-color);
  cursor: pointer;
  margin-right: 8px;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.link-filter.selection:hover,
.link-filter.selection:focus {
  color: var(--brand-color);
  background-color: var(--accent-color);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-black-color);
  padding: 0;
  margin: 0 0 50px 0;
}
.advantages {
  padding-bottom: 94px;
}
.advantages-li {
  margin: 0;
  padding: 0;
}
.container-advantages {
  width: 270px;
  padding: 0;
}
.container-advantages:not(:last-of-type) {
  margin: 0 30px 0 0;
}
.advantages-title {
  line-height: 1.14;
  font-size: 14px;
  color: var(--second-black-color);
  margin: 0;
  padding: 94px 0 0 0;
}
.text {
  line-height: 1.17;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-black-color);
  text-align: center;
  padding: 30px 0 10px 0;
  margin: 0;
}
.what_we_doing-section {
  padding-bottom: 94px;
}
.container-what_we_doing {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.what_we_doing {
  margin: 0;
  padding: 0;
  display: flex;
}
.what_we_doing-item:not(:last-of-type) {
  margin: 0 30px 0 0;
}
.our-team {
  background-color: var(--background-button-color);
  padding: 0 0 94px 0;
  margin: 0;
}
.team-presentation {
  background-color: var(--brand-color);
}
.title-our-team {
  font-size: 36px;
  line-height: 1.17;
  color: var(--second-black-color);
  text-align: center;
  padding: 94px 0 50px 0;
  margin: 0;
}
.our-team-item {
  padding: 0;
  margin: 0;
  display: flex;
}
.our-team-txt {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding: 0 0 30px 0;
  margin: 0;
}
.container-our-team {
  width: 270px;
  height: 368px;
  padding: 0;
}
.container-our-team:not(:first-of-type) {
  margin-left: 30px;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-black-color);
  margin: 0;
}
.portfolio-txt {
  font-size: 16px;
  line-height: 1.88;
  margin: 4px 0 0 0;
}
.grey-border {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--gray-border-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--gray-border-color);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--gray-border-color);
  padding: 20px 24px;
}
.block {
  display: block;
}
.item-last p:last-of-type {
  font-size: 16px;
  line-height: 1.88;
  padding: 4px 0 20px 24px;
  margin: 0;
}
.portfolio-box {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
}
/* Footer */
.ground {
  background-color: var(--backgroun-footer-color);
}
.logo-ground {
  color: var(--brand-color);
  display: inline-block;
  margin: 62px 0 18.71px 0;
}
.address-style {
  font-style: normal;
}
.link-address {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
}
.mailto-tel-ground {
  line-height: 1.71;
  color: var(--mailto-ground-color);
  text-decoration: none;
}
.ground-list {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.ground-li {
  margin: 0 0 8.57px 0;
}
.end {
  display: inline-block;
  padding: 0 0 60px 0;
}
